.container {
	margin: 100px auto;
	background-color: #665AE4;
	padding: 50px;
	text-align: center;	
}

h1 {
	color: #94C595;
	font-size: 60px;
}

#anyKey {
	color: #E56399;
	font-weight: bolder;
}

body {
	color: white;
	background-color: #222A68;
	font-size: 35px;
}

#wordArray {
	font-size: 60px;
	color: #E5D4CE;
}

